

.card-title27{
  text-align:center;
  Font-size:80px;
  padding:50px;
}
.card-text{
  text-align:center;
  Font-size:20px;
}

/* Style the footer */
footer {
  background-color: #272626;
  padding: 10px;
  text-align: center;
  color: rgb(255, 250, 250);}